<h1> hello world <h1>

<div>
    <button> <a href="{% url 'todo' %}"> todo </a> </button>
</div>
<div>
    {%if user.is_authenticated%}
    <button> <a href="{% url 'profile' user.id %}"> profile </a> </button>
    {%endif%}
</div>
<div>
    <button> <a href="{% url 'quitter' %}"> quitter </a> </button>
</div>
{%if user.chef%}
<div>
    <button> <a href="{% url 'chef' %}"> chef </a> </button>
{%endif%}
{%if not user.chef%}

<div>
    <form action ="/ping" method="post">
       {%csrf_token%}
        <button type="submit" name="ping"> matin </button>
    </form>
    <form action ="/soir" method="post">
       {%csrf_token%}
        <button type="submit" name="soir"> soir </button>
</div>
{%endif%}
